[submodule "submodules/codesnippets"]
	path = submodules/codesnippets
	url = git@github.com:echo-Mike/CodeSnippets.git
	branch = develop
[submodule "submodules/uefi_headers"]
	path = submodules/uefi_headers
	url = https://github.com/kiznit/uefi-headers.git
[submodule "submodules/json"]
	path = submodules/json
	url = https://github.com/nlohmann/json.git
[submodule "submodules/openssl"]
	path = submodules/openssl
	url = https://github.com/openssl/openssl.git
